html, body {
    font-size: 16px;
    min-height: 100%;
}

html.fslightbox-open {
    padding-right: var(--width-scrollbar);
}

body {

    font-family: var(--main-font);
    
    font-weight: 400;
    line-height: 150%;

    display: flex;
    flex-direction: column;

    padding-right: var(--popup-padding);

    &._active {
        overflow: hidden;
        
    }

    &._blur .main, &._blur .footer {
        filter: blur(5px);
    }

    &._blur-all .main, &._blur-all .header, &._blur-all .footer {
        filter: blur(5px);
    }

    &._popup-active {
        overflow: hidden;
    }
    
}

.link {
    color: var(--accent);
    text-decoration: none;
    line-height: 133%;
    transition: color .2s ease-in-out;
    &:hover {
        color: var(--accent-light);
    }

    &:active {
        color: var(--accent-dark);
    }

    &._bold {
        font-weight: 700;
    }
}

.check-top-js {
    position: fixed;
    left: 0; top: 0;
}

.wrapper {
    min-height: 100%;
}

.main {
    overflow: hidden;

    flex: 1 0 auto;
    transition: filter .2s ease-in-out;

    padding-bottom: 15px;

    @include _768 {
        padding-bottom: 30px;
    }
    
    @include _992 {
        padding-bottom: 40px;
    }
}

.container {
    padding: 0 var(--container-padding);
    margin: 0 auto;
    max-width: #{$container}px;
    &._min {
        max-width: #{$containerMin}px;
    }
    &._large {
        max-width: #{$containerLarge}px;
    }
}

.section-padding {
    padding: 15px 0px;

    @include _768 {
        padding: 30px 0px;
    }

    @include _992 {
        padding: 40px 0px;
    }

}

._bg-img {
    position: absolute;
    left: 0; top: 0;
    
    width: 100%; height: 100%;

    user-select: none;
    object-fit: cover;

    z-index: -1;
}

.btn {
    display: inline-block;
    
    padding: 17px 21.13px;

    background: var(--accent-gradient);

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 135%;
    color: var(--white);
    text-transform: uppercase;

    border-radius: 70px;

    transition: color .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
    
    &._min {
        font-size: 0.75rem;
    }

    &._large {
        font-size: 0.875rem;
        padding: 20px;
        line-height: 100%;

        @include _768 {
            font-size: 1rem;
            padding: 25px 40px;
        }
    }

    &:hover {
        box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.5);
    }

    &:active {
        box-shadow: inset 0px 0px 15px rgba(100, 100, 100, 0.5);
    }
}

.hide-on-table {
    @media (max-width: 991px) {
        display: none;
    }
}

.visible-on-table {
    @include _992 {
        display: none;
    }
}

.section-bg-wrapper {
    position: relative;
}

.section-bg {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: -1;
    overflow: hidden;
    background: var(--dark);
    text-align: center;
    /* &::before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: #000;
        opacity: .3;
        z-index: 2;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0; top: 0;
        transform: translate(-30%,-15%);
        width: 1920px; height: 1920px;
        border-radius: 50%;
        background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 50%);
    } */

    &._min {
        &::before {
            content: '';
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            z-index: -1;
            background: #484139;
        }
    }
    &__img {
        width: 100%; height: 100%;
        object-fit: cover;
        user-select: none;
        -webkit-user-drag: none;

        max-width: var(--max, 100%);
        //opacity: .3;
    }

    &._top &__img {
        object-position: top center;
    }
}

.rating-block {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // .rating-block__col

    &__col {
        flex: 0 1 auto;
        padding: 3px 10px;

        display: flex;
        align-items: center;

        &:first-child {
            position: relative;
        }

        &._full-on-mob {
            flex: 1 1 100%;
            @include _768 {
                flex: 0 1 auto;
            }
        }
    }

    // .rating-block__star-list

    &__star-list {

        display: flex;

        padding-right: 10px;

        // .rating-block__star-list--item

        &--item {
            padding: 0 2px;
        }

        // .rating-block__star-list--icon

        &--icon {
        }
    }

    // .rating-block__value

    &__value {
        font-size: 0.9375rem;
    }

    // .rating-block__decor-line

    &__decor-line {
        width: 1px; height: 20px;
        /* transform: translate(50%,-50%); */
        background: rgba(0, 0, 0, 0.1);
        
        &._light {
            background: rgba(255, 255, 255, 0.1);
        }
    }

    // .rating-block__logo

    &__logo {
    }

    // .rating-block__text

    &__text {
        font-size: 0.875rem;
        
        &._light {
            color: rgba(255, 255, 255, 0.5);
            & b {
                color: var(--white);
                font-weight: 400;
            }
        }
    }
}

.scroll-down {
    display: flex;
    justify-content: center;

    &__btn {
        width: 30px; height: 30px;
        margin-bottom: -15px;
        border: 5px solid var(--white);

        @include _768 {
            width: 50px; height: 50px;
            margin-bottom: -25px;
            border: 7px solid var(--white);
        }

        @include _992 {
            width: 77px; height: 77px;
            margin-bottom: -38.5px;
            border: 10px solid var(--white);
        }
        
        border-radius: 50%; 

        background: var(--black);

        display: inline-flex;
        align-items: center;
        justify-content: center;

        & svg {
            width: 50%;
        }
    }

    &__large-btn {
        color: var(--dark);
        font-weight: 500;
        font-size: 0.75rem;

        & svg {
            margin-right: 10px;
            width: 9px; height: 10px;
        }

        @include _768 {
            font-size: 1rem;
            border: 7px solid var(--white);
            padding: 22px 30px;
            margin-bottom: -38.5px;
            
            & svg {
                margin-right: 15px;
                width: 15px; height: 15px;
            }
        }
        
        @include _992 {
            font-size: 1.25rem;
            border: 10px solid var(--white);

            & svg {
                margin-right: 20px;
                width: auto; height: auto;
            }
        }

        line-height: 115%;
        text-transform: uppercase;

        display: inline-flex;
        align-items: center;

        background: var(--white);
        padding: 9px 10px;

        border: 5px solid var(--white);
        
        border-radius: 100px;

        margin-bottom: -21px;

        & svg {
            & path {
                fill: var(--dark);
            }
        }
    }
}

.fslightbox-caption {
    position: absolute;
    left: 50%; bottom: 0px;
    transform: translate(-50%,0);
    text-align: center;
    z-index: 2;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: 500;
    padding: 5px;
}

.base-info {

    display: flex;
    flex-direction: column;

    &._light &__shedule {
        color: rgba(255, 255, 255, 0.9);
    }

    &._light &__tel-link {
        color: rgba(255, 255, 255, 0.9);
        &:hover, &:hover svg path {
            color: var(--accent);
            fill: var(--accent);
        }

        &:active, &:active svg path {
            color: var(--accent-dark);
            fill: var(--accent-dark);
        }
    }

    &._min &__shedule {
        font-size: 0.875rem;
        &::before {
            width: 2px; height: 2px;
            margin-top: 8px; margin-right: 11px;
        }
        @include _768 {
            font-size: 0.9375rem;
            &::before {
                width: 6px; height: 6px;
                margin-bottom: 3px; margin-right: 6px;
                margin-top: 0;
            }
        }
    }

    &._min &__tel-link {
        font-size:0.875rem;
        @include _768 {
            font-size: 1.5rem;
        }

        & svg {
            width: 8px; height: 8px;
            flex: 0 0 12px;

            margin-right: 3px;

            @include _768 {
                width: 15px; height: 15px;
                flex: 0 0 20px;
            }
        }
    }

    // .base-info__shedule

    &__shedule {
        font-size: 0.875rem;
        padding-bottom: 14px;
        display: flex;
        @include _768 {
            display: block;
            font-size: 1.25rem;
            padding-bottom: 0;
        }
        line-height: 133%;

        &::before {
            content: '';
            display: inline-block;
            width: 6px; height: 6px;
            border-radius: 50%;
            background: var(--light-green);
            margin-bottom: 3px; margin-right: 6px;
        }

        //color: rgba(255, 255, 255, 0.9);
    }

    // .base-info__tel-link

    &__tel-link {
        font-weight: 700;
        font-size: 1.5rem;
        @include _768 {
            font-size: 2.25rem;
        }
        line-height: 133%;

        transition: color .2s ease-in-out;

        color: var(--black);
        &:hover, &:hover svg path {
            color: var(--accent);
            fill: var(--accent);
        }

        &:active, &:active svg path {
            color: var(--accent-dark);
            fill: var(--accent-dark);
        }

        & svg {
            width: 20px; height: 20px;
            flex: 0 0 30px;

            margin-right: 5px;

            @include _768 {
                width: 25px; height: 25px;
                flex: 0 0 30px;

                margin-right: 10px;
            }

            & path {
                transition: fill .2s ease-in-out;
            }
        }
    }
}

.page-forward {

    padding-bottom: 10px;

    // .page-forward__link

    &__link {
        color: var(--white);
        font-size: 0.875rem;
        line-height: 115%;

        display: inline-flex;
        align-items: center;

        & svg {
            margin-right: 6px;
            width: 8px; height: 8px;
        }
    }
}

.page-address {

    // .page-address__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin: -5px;
    }

    // .page-address__item

    &__item {
        padding: 5px;
    }

    // .page-address__link

    &__link {
        color: var(--white);
        font-size: 0.875rem;
        line-height: 115%;

        @include _768 {
            font-size: 1rem;
        }
        
        @include _992 {
            font-size: 1.125rem;
        }
    }
}

.slider-large-btn {
    width: 34px; height: 34px;

    @include _768 {
        width: 50px; height: 50px;
    }
    
    @include _992 {
        width: 60px; height: 60px;
    }
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 1;
    
    &.swiper-button-disabled {
        opacity: 0.7;

        &::before {
            opacity: 0;
        }

        &::after {
            color: #AAAAAA;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%; height: 100%;
        background: linear-gradient(0deg, #C93A28 0%, #FF3E3E 100%);
        border-radius: 50%;
        z-index: -1;
        transition: opacity .2s ease-in-out;
        opacity: 0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        &::after {
            color: var(--white);
        }
    }

    &:active {
        &::before {
            opacity: .85;
        }

        &::after {
            color: var(--white);
        }
    }

    &::after {
        font-size: 8px;
        @include _768 {
            font-size: 14px;
        }
        font-weight: 900;
        color: var(--dark);
        transition: color .2s ease-in-out;
    }
}

.slider-btn {
    width: 36px; height: 36px;
    border-radius: 50%;
    background: var(--white);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);

    transition: opacity .2s ease-in-out;

    &.swiper-button-next {
        right: 0;
    }

    &.swiper-button-prev {
        left: 0;
    }

    &::after {
        font-size: 12px;
        font-weight: 900;
        color: var(--dark);
    }
}

.hide-blocks {
    & > * {
        transition: opacity .2s ease-in-out, visiblity .2s ease-in-out;

        @media (max-width: 992px) {
            &._hidden {
                opacity: 0; visibility: hidden;
                pointer-events: none;
                height: 0; padding: 0;
            }
        }
    }
}
