.search-header {

    padding-top: var(--height-header); padding-bottom: 25px;

    @include _768 {
        padding-top: var(--height-header); padding-bottom: 35px;
    }
    
    @include _992 {
        padding-top: 47px; padding-bottom: 47px;
    }

    // .search-header__bg

    &__bg {

        // .search-header__bg--img

        &--img {
        }
    }

    // .search-header__container

    &__container {
    }

    // .search-header__page-address

    &__page-address {
    }

    // .search-header__title

    &__title {
    }
}
