.contacts-intro {

    // .contacts-intro__bg

    &__bg {

        // .contacts-intro__bg--img

        &--img {
            opacity: .7;
        }
    }

    // .contacts-intro__container

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        padding: calc(var(--height-header, 50) + 15px) 15px 20px 15px;

        @include _768 {
            padding: calc(30px + var(--height-header, 50)) 15px 61px 15px;
        }
        
        @include _992 {
            padding: 105px 15px 91px 15px;
        }
    }

    // .contacts-intro__info

    &__info {
        flex: 1 1 100%;
        
        @include _992 {
            flex: 0 1 338px;
        }
    }

    // .contacts-intro__title

    &__title {
        
    }

    // .contacts-intro__text

    &__text {
        padding-top: 15px;

        font-size: 1.125rem;
        line-height: 115%;
        font-feature-settings: 'liga' off;
    }

    // .contacts-intro__base-info

    &__base-info {

        padding-top: 20px;
        
        @include _768 {
            padding-top: 35px;
        }
        
        @include _992 {
            padding-top: 55px;
        }

        // .contacts-intro__base-info--list

        &--list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            margin: -10px;

            @include _768 {
                margin: -15px;
            }
            
            @include _992 {
                flex-wrap: nowrap;
                flex-direction: column;
            }

            
        }

        // .contacts-intro__base-info--item

        &--item {
            padding: 10px;
            @include _768 {
                padding: 15px;
            }
        }

        // .contacts-intro__base-info--element

        &--element {
            display: grid;
            grid-template-columns: 30px auto;
            @include _768 {
                grid-template-columns: 45px auto;
            }
            
            & small {
                grid-column: 2/2;
                
                color: rgba(255, 255, 255, 0.4);
                font-size: 0.75rem;
                
                @include _992 {
                    font-size: 0.875rem;
                }
            }

            & span {
                grid-column: 2/2;

                color: var(--white);
                font-weight: 700;
                font-size: 1rem;
                @include _768 {
                    font-size: 1.25rem;
                }
                
                @include _992 {
                    font-size: 1.5rem;
                }
                line-height: 133%;

                transition: color .2s ease-in-out;
            }

            &:is(a):hover span {
                color: var(--accent);
            }

            &:is(a):active span {
                color: var(--accent-dark);
            }

            & svg {
                max-width: 15px;
                @include _768 {
                    max-width: 100%;
                }
            }
        }

        // .contacts-intro__base-info--icon

        &--icon {
            grid-column: 1/1; grid-row: 1/3;

            display: flex;
            align-items: center;
        }
    }

    // .contacts-intro__form

    &__form {

        padding-top: 20px;

        @include _992 {
            padding-top: 0;
        }

        flex: 1 1 auto;

        display: flex;
        justify-content: flex-end;

        

        // .contacts-intro__form--successful

        &--successful {
        }

        // .contacts-intro__form--body

        &--body {
            max-width: 100%;

            padding: 5px;

            @include _768 {
                padding: 22px 26px;
            }
            
            @include _992 {
                max-width: 571px;
            }
            

            background: var(--light-gray);
            box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.3);
            border-radius: 15px;

            display: grid;
            & > * {
                grid-area: 1/1;
            }
        }

        // .contacts-intro__form--item

        &--item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
            opacity: 1; visibility: visible;

            &._hidden {
                opacity: 0; visibility: hidden;
            }
        }

        // .contacts-intro__form--label

        &--label {
            flex: 0 1 50%;
            padding: 5px;
            @include _768 {
                padding: 10px;
            }
            &._full {
                flex: 1 1 100%;
            }
        }

        // .contacts-intro__form--input

        &--input {
            width: 100%; min-height: 100%;
        }

        // .contacts-intro__form--textarea

        &--textarea {
            width: 100%; min-height: 100%;
        }

        // .contacts-intro__form--submit

        &--submit {
            margin-top: 5px;
            min-width: min(144px, 100%);
            @include _768 {
                margin-top: 10px;
                
            }
            
        }
    }

    // .contacts-intro__successful

    &__successful {

        color: var(--dark);

        display: flex;
        align-items: center;

        text-align: left;

        // .contacts-intro__successful--icon

        &--icon {
            margin-right: 20px;
        }

        // .contacts-intro__successful--info

        &--info {
            font-family: "Mont", sans-serif;

            display: flex;
            flex-direction: column;
        }

        // .contacts-intro__successful--title

        &--title {
            font-weight: 800;
            font-size: 1.25rem;
            line-height: 133%;

            padding-bottom: 4px;
        }

        // .contacts-intro__successful--text

        &--text {
            font-weight: 600;
            font-size: 0.75rem;
            line-height: 115%;

            color: rgba(0, 0, 0, 0.7);
        }
    }

    // .contacts-intro__scroll-down

    &__scroll-down {

        // .contacts-intro__scroll-down--large-btn

        &--large-btn {
        }
    }
}
