.gallery {

    padding-top: 30px;

    @include _768 {
        padding-top: 60px;
    }
    
    @include _992 {
        padding-top: 102px;
    }

    // .gallery__container

    &__container {
    }

    // .gallery__subtitle

    &__subtitle {
    }

    // .gallery__title

    &__title {
        padding-top: 20px;

        max-width: 800px;
        margin-inline: auto;
    }

    // .gallery__list

    &__list {
        display: flex;
        flex-wrap: wrap;

        margin: -2px;
        padding-top: 28px;
        @include _768 {
            padding-top: 40px;
        }
        
        @include _992 {
            padding-top: 67px;
        }

        counter-reset: gallery;
    }

    // .gallery__item

    &__item {
        flex: 0 1 50%;
        padding: 2px;

        @include _768 {
            flex: 0 1 33.333%;
        }
        
        @include _992 {
            flex: 0 1 25%;
        }
    }

    &__item:nth-child(-n + 9) &__image--number::before {
        content: "0"counter(gallery);
    }

    // .gallery__image

    &__image {

        display: block;
        position: relative;
        width: 100%; padding-top: 142.14%;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            left: calc(50% - 25px); top: calc(50% - 25px);
            width: 50px; height: 50px;

            @include _768 {
                left: calc(50% - 50px); top: calc(50% - 50px);
                width: 100px; height: 100px;
            }
            
            @include _992 {
                left: calc(50% - 75px); top: calc(50% - 75px);
                width: 150px; height: 150px;
            }

            border-radius: 50%;
            z-index: 2;
            
            background: rgba(0, 0, 0, 0.4) url("data:image/svg+xml,%3Csvg viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.93701 22.625C4.93701 12.8565 12.856 4.9375 22.6245 4.9375C32.393 4.9375 40.312 12.8565 40.312 22.625C40.312 32.3935 32.393 40.3125 22.6245 40.3125C12.856 40.3125 4.93701 32.3935 4.93701 22.625ZM22.6245 0.9375C10.6468 0.9375 0.937012 10.6473 0.937012 22.625C0.937012 34.6027 10.6468 44.3125 22.6245 44.3125C27.8932 44.3125 32.7231 42.4337 36.4808 39.3096L49.648 52.4767C50.429 53.2578 51.6953 53.2578 52.4764 52.4767C53.2574 51.6957 53.2574 50.4294 52.4764 49.6483L39.3092 36.4811C42.4333 32.7235 44.312 27.8936 44.312 22.625C44.312 10.6473 34.6022 0.9375 22.6245 0.9375ZM22.6245 11.875C23.7291 11.875 24.6245 12.7704 24.6245 13.875V20.625H31.3745C32.4791 20.625 33.3745 21.5204 33.3745 22.625C33.3745 23.7296 32.4791 24.625 31.3745 24.625H24.6245V31.375C24.6245 32.4796 23.7291 33.375 22.6245 33.375C21.5199 33.375 20.6245 32.4796 20.6245 31.375V24.625H13.8745C12.7699 24.625 11.8745 23.7296 11.8745 22.625C11.8745 21.5204 12.7699 20.625 13.8745 20.625H20.6245V13.875C20.6245 12.7704 21.5199 11.875 22.6245 11.875Z' fill='white' fill-opacity='0.7'/%3E%3C/svg%3E%0A")
            center center / 40% no-repeat;

            transform-origin: center;
            transform: scale(0.9); opacity: 1;

            @media(any-hover) {
                opacity: 0;
            }

            transition: transform .2s ease-in-out, opacity .2s ease-in-out;
        }

        &:hover::after {
            transform: scale(1); opacity: 1;
        }

        &:active::after {
            transform: scale(0.9); opacity: 0.8;
        }

        // .gallery__image--info

        &--info {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            z-index: 2;

            display: flex;
            justify-content: space-between;

            padding: 10% 7%;

            @include _768 {
                padding: 10% 7%;
            }
            
            @include _992 {
                padding: 12% 10%;
            }

            pointer-events: none;

            color: rgba(255, 255, 255, 0.7);
        }

        // .gallery__image--name

        &--name {
            writing-mode: vertical-lr;
            transform: scale(-1);
            text-align: right;
            text-transform: uppercase;
            display: inline-block;
            align-self: flex-start;

            position: relative;
            padding-bottom: 15px;

            font-size: 0.75rem;

            @include _768 {
                font-size: 0.875rem;
                padding-bottom: 40px;
            }
            
            @include _992 {
                font-size: 0.9375rem;
            }

            &::after {
                content: '';
                position: absolute;
                left: calc(50% - 0.5px); bottom: 0;
                width: 1px; height: 10px;
                background: rgba(255, 255, 255, 0.5);

                @include _768 {
                    height: 30px;
                }
                
                @include _992 {
                    height: 60px;
                    bottom: -35px;
                }
            }
        }

        // .gallery__image--number

        &--number {

            font-size: 0.75rem;

            @include _768 {
                font-size: 0.875rem;
            }
            
            @include _992 {
                font-size: 0.9375rem;
            }
            
            &::before {
                counter-increment: gallery;
                content: counter(gallery);
            }
            
        }

        // .gallery__image--img

        &--img {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            object-fit: cover;
        }
    }

    &__btn {
        margin-top: 24px;
    }
}
